.my-navbar {
    background-color: black;
}

.my-navbar .navbar-brand,
.my-navbar .nav-link {
    color: #ffffff !important;
}

.my-navbar .nav-link:hover {
    color: #59adc0 !important;
}

.my-navbar {
    padding: 0.6rem 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}