.producto-card-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 40px;
    border-radius: 25px;
    width: 750px;
    min-height: 260px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    margin: 20px auto;
}

.producto-img-box {
    width: 240px;
    height: auto;
}

.producto-img-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.producto-nombre {
    font-size: 22px;
    font-weight: 700;
    color: #7b0e67;
    margin: 0;
    width: 200px;
}

.producto-precio-home {
    font-size: 22px;
    font-weight: 600;
    color: #7b0e67;
}

.btn-add-home {
    background: linear-gradient(135deg, #b30074, #ff0095);
    color: white;
    border: none;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease;
}

.btn-add-home:hover {
    transform: scale(1.07);
}