.card-producto {
  width: 20rem;
  max-width: 300px;
  border: 1px solid #ef93ff;
  padding: 20px;
  margin: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(239, 147, 255, 0.4);
  transition: transform 0.2s ease;
}

.card-producto:hover {
  transform: translateY(-5px);
}

.card-img-producto {
  width: 100%;
  height: 220px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card-title-producto {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.card-text-producto {
  text-align: center;
  margin-top: 10px;
  color: #585858;
  line-height: 1.4;
}

.btn-detalles {
  margin-top: 15px;
  background-color: #cc3366;
  border: 1px solid #cc3366;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: 500;
}

.btn-editar {
  margin-top: 15px;
  background-color: #720006b6;
  border: 1px solid #720006b6;
  color: white;
  border-radius: 20px;
  padding: 8px 20px;
  font-weight: 500;
}

.btn-detalles:hover {
  background-color: #b02a57;
  border-color: #b02a57;
}

.btn-editar:hover {
  background-color: #d8030db6;
  border-color: #d8030db6;
}

.botones-producto {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.categoria-producto {
  font-size: 0.95rem;
  color: #555;
  margin: 4px 0 10px;
}

