.home-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #58aabc, #015a78);
    padding: 4rem 2rem;
}

.home-section {
    text-align: center;
    max-width: 800px;
}

.home-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border: 4px solid #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

.home-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px rgba(8, 1, 7, 0.564);
    border-color: black;
}

.home-title {
    font-size: 3rem;
    font-weight: 400;
    color: white;
    margin-bottom: 1rem;
}

.home-text {
    font-size: 1.1rem;
    color: black;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.home-text a {
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.home-text a:hover {
    text-decoration: underline;
    color: white;
}

.container,
.home-section {
    background: transparent !important;
    box-shadow: none !important;
}