/* Contenedor general */
.home-container {
    padding-top: 40px;
    text-align: center;
}

/* Estilo base para ambas cajas */
.home-box {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 5px 35px;
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.05);
}

/* Caja 1 (título) separada */
.title-box {
    margin-bottom: 25px;
}

/* Caja 2 (texto) separada */
.text-box {
    margin-top: 0;
}

/* Título */
.home-title {
    font-size: 3rem;
    font-weight: 800;
    color: #7b0e67;
    margin: 0;
}

/* Texto */
.home-text {
    font-size: 1.25rem;
    line-height: 1.7;
    color: #333;
}