.productos-hero {
  text-align: center;
  margin-bottom: 20px;
  background-color: #f3f0f2;
  padding: 25px;
  border-radius: 10px;
}

.productos-hero h1 {
  font-size: 3rem;
  color: #7a1147;
  margin-bottom: 10px;
}

.productos-hero p {
  font-size: 18px;
  color: #444;
  max-width: 900px;
  margin: auto;
}

.productos-header {
  text-align: center;
  background-color: #f3f0f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.productos-titulo {
  font-size: 3rem;
  color: #7a1147;
  margin-bottom: 10px;
  font-weight: bold;
}

.productos-descripcion {
  font-size: 1.2rem;
  color: #333;
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.6;
}

