.usuario-admin-container {
    padding: 40px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    background: #fff;
    padding: 25px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}

.modal-box h2 {
    margin-bottom: 15px;
    color: #b83280;
    text-align: center;
}

.modal-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-edit {
    background: linear-gradient(45deg, #d44f8c, #9b5de5);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
}

.btn-edit:hover {
    filter: brightness(1.1);
}





.btn-delete {
    background: #fff;
    color: #d44f8c;
    border: 2px solid #d44f8c;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
}