body {
    background: linear-gradient(to bottom, #58aabc, #015a78);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    background-image: url('/fondo.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Fondo suave */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.55);
    /* Ajusta la opacidad */
    backdrop-filter: blur(0.3px);
    /* Más suave aún */
    z-index: -1;
    /* NO tapa el contenido */
}