body {
  background-image: url('/fondo.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.home-container {
  flex: 1;
  /* Hace que el contenido empuje el footer al final */
}

footer {
  margin-top: auto;
  /* Se pega al final */
}